<div class="overflow-hidden shadow-xl">
  <div class="w-10/12 overflow-hidden">
    <img class="h-auto hover-increase w-full" ...attributes>
  </div>
  {{#if @imageAttribution}}
    <div class="text-xs">{{@imageAttribution}}</div>
  {{/if}}
</div>